<div class="row">

    <div class="col-sm-3 col-lg-3">

        <local-time title="Local Time"></local-time>
        
        <uptime title="Butler Uptime" time="{{butlerUptime}}"></uptime>

    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="큰방" timetable="timetable" data="modules['큰방']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="아들방" timetable="timetable" data="modules['아들방']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="서재" timetable="timetable" data="modules['서재']"></toggle-chart-by-module>
    </div>


    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="거실" timetable="timetable" data="modules['거실']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="주방" timetable="timetable" data="modules['주방']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="앞 배란다" timetable="timetable" data="modules['앞 배란다']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="뒷 배란다" timetable="timetable" data="modules['뒷 배란다']"></toggle-chart-by-module>
    </div>


    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="화장실" timetable="timetable" data="modules['화장실']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-module title="안방 화장실" timetable="timetable" data="modules['안방 화장실']"></toggle-chart-by-module>
    </div>

    <div class="col-sm-3 col-lg-3">
    	<toggle-donut-stacked-area title="점유율" timetable="timetable" data="mergedData.motion"></toggle-donut-stacked-area>
    </div>


    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-sensor title="온도" timetable="timetable" data="mergedData.temperature" prefix="°C"></toggle-chart-by-sensor>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-sensor title="습도" timetable="timetable" data="mergedData.humidity" prefix="%"></toggle-chart-by-sensor>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-sensor title="조도" timetable="timetable" data="mergedData.light" prefix="%"></toggle-chart-by-sensor>
    </div>

    <div class="col-sm-3 col-lg-3">
        <toggle-chart-by-sensor title="미세먼지" timetable="timetable" data="mergedData.dust" prefix="㎍/㎥"></toggle-chart-by-sensor>
    </div>

</div>