<div class="row">

    <div class="col-sm-3 col-lg-3">
    	<realtime-status title="거실" temperature="26.5℃" humidity="65%" light="59%" dust="65%"></realtime-status>
    </div>

    <div class="col-sm-3 col-lg-3">
		<donut-chart title="Site Bandwidth" value="55" color="#b2c831"></donut-chart>
    </div>

    <div class="col-sm-3 col-lg-3">
		<donut-chart title="Dist Space" value="66" color="#fa1d2d"></donut-chart>
    </div>
    
    <div class="col-sm-3 col-lg-3">

		<local-time title="Local Time"></local-time>
		
		<uptime title="Server Uptime" time="356"></uptime>

    </div>
</div>

<div class="row">

    <div class="col-sm-3 col-lg-3">
        <realtime-status title="큰방" temperature="24.5℃" humidity="55%" light="49%" dust="75%"></realtime-status>
    </div>

    <div class="col-sm-3 col-lg-3">
        <gauge-chart title="Gauge Chart"></gauge-chart>
    </div>

    <div class="col-sm-3 col-lg-3">
        <switches title="큰방 스위치"></switches>
    </div>

</div>