<div class="row">

    <div class="col-sm-3 col-lg-3">

        <local-time title="Local Time"></local-time>
        
        <uptime title="Butler Uptime" time="{{butlerUptime}}"></uptime>

    </div>

    <div class="col-sm-3 col-lg-3">
    	<realtime-status title="거실" temperature="{{module1.temperature}}℃" humidity="{{module1.humidity}}%" light="{{module1.light}}%" dust="{{module1.dust}}%"></realtime-status>
    </div>

    <div class="col-sm-3 col-lg-3">
		<donut-chart title="큰방 온도" value="{{module1.temperature}}" color="#b2c831"></donut-chart>
    </div>

    <div class="col-sm-3 col-lg-3">
		<donut-chart title="큰방 습도" value="{{module1.humidity}}" color="#fa1d2d"></donut-chart>
    </div>

</div>

<div class="row">

    <div class="col-sm-3 col-lg-3">
        <realtime-status title="큰방" temperature="{{module2.temperature}}℃" humidity="{{module2.humidity}}%" light="{{module2.light}}%" dust="{{module2.dust}}%"></realtime-status>
    </div>

    <div class="col-sm-3 col-lg-3">
        <gauge-chart title="큰방 습도" value="{{module2.humidity}}"></gauge-chart>
    </div>

    <div class="col-sm-3 col-lg-3">
        <switches title="큰방 스위치"></switches>
    </div>

</div>