<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/"><img src="images/butler.png" height="20" alt=""> Butler Dashboard</a>
    </div> 
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/"><i class="icon-home icon-white"></i> Home</a></li>
          <li><a href="#/setting"><i class="icon-folder-open icon-white"></i> Setting</a></li>
          <!-- <li><a href="calendar.html"><i class="icon-calendar icon-white"></i> Calendar</a></li>
          <li><a href="tables.html"><i class="icon-th icon-white"></i> Tables</a></li>
          <li><a href="login.html"><i class="icon-lock icon-white"></i> Login</a></li>
          <li><a href="user.html"><i class="icon-user icon-white"></i> User</a></li> -->
          <li class="thumbnail">
              <img class="img-circle" src='https://fbcdn-profile-a.akamaihd.net/hprofile-ak-ash3/t1/c31.9.112.112/p130x130/558794_10151617946204005_1242670522_n.jpg' alt='Denny Lim' style="height:50px">
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</div>