<div class="dash-unit">
	<dtitle>{{title}}</dtitle>
	<hr>
	<div class="info-user">
		<span aria-hidden="true" class="li_params fs2"></span>
	</div>
	<br>
	<div class="switch">
		<input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
		<label for="on" class="switch-label switch-label-off">On</label>
		<input type="radio" class="switch-input" name="view" value="off" id="off">
		<label for="off" class="switch-label switch-label-on">Off</label>
		<span class="switch-selection"></span>
	</div>
	<div class="switch switch-blue">
		<input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
		<label for="week2" class="switch-label switch-label-off">Week</label>
		<input type="radio" class="switch-input" name="view2" value="month2" id="month2">
		<label for="month2" class="switch-label switch-label-on">Month</label>
		<span class="switch-selection"></span>
	</div>
	
	<div class="switch switch-yellow">
		<input type="radio" class="switch-input" name="view3" value="yes" id="yes" checked="">
		<label for="yes" class="switch-label switch-label-off">Yes</label>
		<input type="radio" class="switch-input" name="view3" value="no" id="no">
		<label for="no" class="switch-label switch-label-on">No</label>
		<span class="switch-selection"></span>
	</div>
</div>