<div style="position: relative;">
	<div style="position:absolute;top:8px;right:5px;z-index:1;color:#fff">
		<span class="glyphicon glyphicon-transfer"></span>
	</div>
	<realtime-status-by-sensor title="{{title}}" data="lastData" prefix="{{prefix}}" ng-show="showRealtime" ng-click="showRealtime=!showRealtime"></realtime-status-by-sensor>
	<highcharts-with-data-labels title="전체 {{title}} 현황" timetable="timetable" data="data" prefix="{{prefix}}" ng-hide="showRealtime" ng-click="showRealtime=!showRealtime"></highcharts-with-data-labels>
</div>